

body {
    background-color: #eaf6fd
}

.body-class {
    background-color: #ffffff;
    max-width: 700px;
    margin: 0 auto;
}


.header-img {
    background-size: contain;
    background-position: center top;
    width: 100%;
    height: auto;
}

header a, footer a {
    color:inherit;
    text-decoration: none;
}


.title-name::before {
    content: '';
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-right: .2em;
    background-image: url(./images/icon.jpg);
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-left: -2.5em;
    bottom: -1.8em;
}
.title-name {
    text-align: left;
    margin-left: 3.7em;
    margin-top: -2em;
    z-index: 2;
    padding-left: 4em;
    text-indent: -4em;
}
.title-br {
    display: none;
}
@media (max-width: 600px) {
    .title-name {
        font-size: 1.7em;
    }
    .ulineB {
        line-height: 1.3em;
    }
}
@media (max-width: 500px) {
    .title-name {
        padding-left: 2em;
        text-indent: -2em;
    }
}


.width-br {
    display: none;
}

@media (max-width: 600px) {
    .width-br {
        display: block;
    }
}



#update-date {
    text-align: right;
    margin-right: .7em;
    margin-top: .8em;
}


.titleA::before,
.titleB::before,
.titleC::before,
.titleD::before {
    content: '';
    width: 1.2em;
    height: 1.2em;
    background-size: contain;
    /* vertical-align: middle; */
    top: .6em;
    display: inline-block;
    margin-right: .3em;
}
.titleA, .titleB, .titleC, .titleD {
    padding-left: .3em;
    margin-top: 1.3em;
    margin-bottom: .3em;
    font-family: "Hui Font29", "Sawarabi Gothic";
    color: #301515;
    font-size: 1.4em;
}


.titleA::before {
    background-image: url(./images/drawing11.svg);
}
.titleB::before {
    background-image: url(./images/drawing9.svg);
}
.titleC::before {
    background-image: url(./images/drawing12.svg);
}
.titleD::before {
    background-image: url(./images/drawing4.svg);
}



/* ol.sample1{
    counter-reset:list;
    list-style-type:none;
    font: 14px/1.6 'arial narrow', sans-serif;
    padding:0;
} */
ul.enu1 li{
    position:relative;
    padding-left: 20px;
    margin-left: 2em;
    width: 90%;
    /* font-weight: bold; */
    /* font-size:14px; */
    line-height: 30px;
    border-bottom: dashed 1px #F6A38B;
    list-style-type: none;
}
ul.enu1 li:before{
    counter-increment: list;
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #F6A38B;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media (max-width: 600px) {
    ul.enu1 {
        width: 80%;
    }
}



.uline {
    position: relative;
    display: inline-block;
    padding-right: 1.9em;
    padding-left: .2em;
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
}
/* .uline::after {
    content: "";
    display: block;
    height: .3em;
    position: relative;
    margin-right: -1.8em;
    background: -webkit-linear-gradient(to right, #f7c6bd, skyblue);
    background: linear-gradient(to right, #f7c6bd, skyblue);
} */


.ulineB {
    /* border-radius: 1px; */
    border-bottom: 4px dotted #afeeee;
}


.noto-sans-jp {
    font-family: 'Noto Sans JP', sans-serif;
}
.sawarabi-gothic {
    font-family: "Sawarabi Gothic";
}





.list39 {
    position: relative;
    margin: 3em 0 1em 0;
    background: #fff6e6;
    box-shadow: 0 2px 3px rgba(0,0,0,.22);
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}
.list39-title {
    font-size: 1.15em;
    padding: 4px 0 4px 16px;
    /* color: #ee8992; */
    color: #9283be;
    font-weight:bold;
}
.list39::after {
    position: absolute;
    content: "";
    top: 25px;
    width: 30%;
    height: 35px;
    opacity: 0.8;
    margin: -35px auto 10px 35%;
    background-color: #ffeaea;
    background-image:
        linear-gradient(
            -45deg,
            rgba(255, 188, 188, .5) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 188, 188, .5) 50%,
            rgba(255, 188, 188, .5) 75%,
            transparent 75%,
            transparent 100%
        ),
        linear-gradient(
            45deg,
            rgba(255,188,188,.5) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255,188,188,.5) 50%,
            rgba(255,188,188,.5) 75%,
            transparent 75%,
            transparent 100%
        );
    background-size: 35px 35px;
    background-repeat: repeat;
    border-left: 2px dotted rgba(240, 204, 205, .6);
    border-right: 2px dotted rgba(240, 204, 205, .6);
    border-radius: 10px 10px 10px 10px / 15px 200px 15px 185px;
    transform: rotate(-2deg);
    left: 10px;
    right: 10px;
}
.list39 ul {
    position: relative;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    color: #ee8992;
    border: none;
    list-style-type: none;
}
.list39 ul li {
    position: relative;
    line-height: 1.5;
    padding: 0.5em 0 0.5em 1.6em;
    border-bottom: dashed 1px #ee8992;
    font-size: 1.1em;
}
.list39 ul li::before{
    content: '';
    position: absolute;
    /* background-color: #fff; */
    border: 1px solid #ee8992;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 1.1em;
    left: 0.6em;
    /* vertical-align: middle; */
}
.list39 ul li:last-of-type,.list39 ol li:last-of-type{
    border-bottom: none;
}
@media (max-width: 600px) {
    .list39-title {
        padding-top: 1.3em;
    }
}





.leftboxA {
    position: relative;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    /* padding: 0.2em 0.5em; */
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-top: .5em;
    margin-bottom: .1em;
    margin-left: .3em;
    color: #454545;
    /* width: 90%; */
    display: inline-block;
    font-family: 'Sawarabi Gothic';
    font-size: 1.2em;
    transform: rotate(-3deg);
    z-index: 0;
}
.leftboxA::after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #a8d4ff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 0;
}
@media (max-width: 600px) {
    .leftboxA {
        font-size: .9em;
    }

}






footer {
    margin-top: 5em;
    background: #432;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}



@font-face {
    font-family: 'Hui Font29';
    src: url(./fonts/HuiFont29.ttf)
}

.fuiji {
    font-family: 'Hui Font29';
}

@font-face {
    font-family: 'Yosugara';
    src: url(./fonts/yosugara.ttf);
}

.yosugara {
    font-family: 'Yosugara';
}
